body#home-style * {
    font-family:'Courier New', Courier, monospace
}
img {
    border-radius: 500px;
    height: 300px;
    width: 300px;
}

.tabs {
    text-align: center;
    color: black;
}

body{
    margin: 50px;
}
header {
    font-style: italic;
}
figcaption {
    font-style: italic;
    font-size:xx-large;
}
h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family:fantasy
    text-align: center;
}


.aliyah{
    text-align: center;
}
body#about-style * {

    font-family:'Courier New', Courier, monospace

}
p {
    font-size:smaller;
}
li {

    font-style: italic;
}
body#contact-style * {

    font-family:'Courier New', Courier, monospace

}
body#projects-style * {

    font-family: 'Courier New', Courier, monospace;
}
